.App{
    background-color: paleturquoise;
    text-align: left;
}

.toolbar{
    display: inline-block;
    font-size: 0.7em;
}

.toolbar a, .toolbar button {
    margin-left: 1px;
}

.data-table {
    padding: 5px;
    box-shadow: 1px solid  rgba(90, 88, 88);
    background-color: paleturquoise;
}

.data-inner-table {
    width:100%;
    border-collapse: collapse;
    position: relative;
}

.data-table th {
    background-color: white;
    padding: 7px;
    position: relative;
    width: 150px;
    text-align: left;
    font-weight: normal;
    line-height: 2em;
    text-align: left;

}

data-table td{
    border: 1px solid #eee;
    color: #212121;
    vertical-align: middle;
    padding: 4px 7px;
    text-align: left;
}

.col-resizer{
    position: absolute;
    width: 20px;
    height: 30px;
    cursor: col-resize;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    user-select: none;
}


.container {
  position: relative;
  display: inline-block;
  background-color: paleturquoise;
  width: 100%;
}
.button {
  padding: 0;
  width: 0px;
  border: 0;
  background-color: grey;
  color: #333;
  cursor: pointer;
  outline: 0;
  font-size: 20px;
}

.workingOnIt
{
    background-color: orange;
    
}

.stuck{
    background-color: rgb(217, 0, 50);
}

.green{
    background-color:rgb(15, 148, 59);
}
.WaitingForReview{
    background-color: rgb(9, 176, 210);
}
.option1{   
    background-color: rgb(187, 173, 238);
}
.option2{
    background-color: rgb(91, 42, 216);
}
.critical{
    background-color: rgb(91, 42, 108);
}
.status{
    width: 90px;
    font-weight: 1px;
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    align-items: left;
}

.item{
    text-align: left;
    width: 500px;
    font-weight: 100px;
}

.duedate{
    font-size: 1vh;
}