div:after {
    content : "";
    position: absolute;
    right    : 0;
    z-index: 100;
    top  : 0;
    width  : 3px;
    height   : 50%;  /* or 100px */
  }

.inner{
    height: 50%;
    padding-right: 20px;
}

.App{
    background-color: white;
    width: 90%;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 50px;
}

.toolbar{
    display: inline-block;
    font-size: 0.7em;
 
}

.toolbar a, .toolbar button {
    margin-left: 1px;
}

.data-table {
    padding: 5px;
    background-color: white;
}

.data-inner-table {
    width:100%;
    background-color: rgb(239, 239, 245);
   
    
    
}

.data-table th {
    background-color: white;
    padding: 7px;
    position: relative;
    width: 150px;
    font-weight: normal;
    line-height: 2em;

}

.StatusHead{
    background-color: rgb(239, 239, 245);
    width: 150px;
    text-align: center;
}

data-table td{
    border: 1px solid rgb(161, 161, 196);
    color: #212121;
    vertical-align: middle;
    padding: 4px 7px;
    text-align: left;  
}
data-table td{
    border-right: 10px solid rgb(199, 212, 218);
}
.workingOnIt
{
    background-color: orange;
    width: 140px;
    
}

.stuck{
    background-color: rgb(217, 0, 50);
}

.green{
    background-color:rgb(15, 148, 59);
}
.WaitingForReview{
    background-color: rgb(9, 176, 210);
}
.option1{   
    background-color: rgb(187, 173, 238);
}
.option2{
    background-color: rgb(91, 42, 216);
}
.critical{
    background-color: rgb(91, 42, 108);
}
.status{
    width: 160px;
    font-weight: 2px;
    font-size: 2.5vh;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid rgb(223, 223, 223);
    border-left: 1px solid;
}

.item{
    text-align: left;
    width: 500px;
    font-weight: 100px;
    border-left: 10px solid rgb(90, 179, 218);
    border-bottom: 1px solid rgb(223, 223, 223);
    padding-left: 10px;
}

.duedate{
    font-size: 1vh;
}

.button-pri{
    border-bottom: 1px solid rgb(223, 223, 223);
    padding-left: 10px;
    text-align: left;
    width: 1405x;
    height: 40px;
    font-weight: 80px;
    background-color: black;
    color: white;
    border-right: 10px solid rgb(199, 212, 218);
    
}
#displaytable{
    visibility: hidden;
    display: none;
    width: 100%;
    border: 6;
}

.Addrow{
    text-align: left;
    width: 100%;
    height: 100%;
    font-weight: 100px;
    border-left: 10px solid rgb(90, 179, 218);
    border-bottom: 1px solid rgb(223, 223, 223);
    padding-left: 10px;
    background-color: rgb(239, 239, 245);
    -ms-transform-origin-y: -10;
    border-right: 10px solid rgb(199, 212, 218);
    opacity: .4;
}

.hide{
    display: none;
}

.itemAdd{
    position: absolute;
    align-items: left;
    width: 80%;
    text-align: left; 
}
.blackColor{
    color:black;
}